/* Global Styles */
body {
    font-size: 20px;
    margin: 0 auto; 
    max-width: 1200px; 
    text-align: center; 
}

/* Heading Styles */
h1 {
    color: coral;
    text-align: left; 
    margin-left: 0; 
}


h2, #para1 {
    text-align: center;
    width: 100%;
}

/* Socials Styling */
ol {
    list-style-type: none; 
    padding: 0;
}

ol li a {
    font-size: 20px; 
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
    display: inline-block; 
}

ol li a:hover {
    color: #A03A2A; 
    text-decoration: underline; 
}

/* Image Container */
.image-container {
    display: flex;
    justify-content: center; 
    gap: 2em; 
    flex-wrap: wrap; 
    margin-top: 2em;
}

/* Image Styling */
img {
    width: 400px; 
    height: auto;
    border-radius: 2em;
}

/* Paragraph Styling inside Divs */
div > p {
    font-size: 20px;
    font-style: italic;
    color: black;
}

/* Fun Facts & Socials Section */
.section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.section h3 {
    color: brown;
    margin-bottom: 0.5em;
}
